<!doctype html>
<html ng-app="orderedlistExample">
  <head>
    <script defer src="ang.js"></script>
    <script defer src="orderedlist.js"></script>
  </head>
  <body ng-controller="Controller">
    <div>
      <h1>Ordered Lists</h1>
      <h2>and their controls</h2>
    </div>
    <main>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <button ng-on-click="addName()">Add</button>
      <h3>Hello {{yourName}}!</h3>
      <div class="dropcontainer">
        <div class="dropzone" ng-repeat="name in names.items track by $index">
          <div class="draggablecontainer" draggable="true" data-index-number="{{$index}}" ondragstart="event.dataTransfer.setData('text/plain',null)">
            {{name}}
            <button ng-on-click="moveUpOne($index)">Move up</button>
            <button ng-on-click="moveDownOne($index)">Move down</button>
            <button ng-on-click="deleteItem($index)">Delete</button>
          </div>
        </div>
      </div>
      <div>
        <button ng-on-click="resetList()">Reset list</button>
      </div>
    </main>
  </body>
</html>
